<appSettings>
 <add key="AccountService.WebAccountService" value="http://localhost/SnCoreWeb/WebAccountService.asmx"/>
 <add key="SystemService.WebSystemService" value="http://localhost/SnCoreWeb/WebSystemService.asmx"/>
 <add key="StatsService.WebStatsService" value="http://localhost/SnCoreWeb/WebStatsService.asmx"/>
 <add key="SocialService.WebSocialService" value="http://localhost/SnCoreWeb/WebSocialService.asmx"/>
 <add key="ObjectService.WebObjectService" value="http://localhost/SnCoreWeb/WebObjectService.asmx"/>
 <add key="PlaceService.WebPlaceService" value="http://localhost/SnCoreWeb/WebPlaceService.asmx"/>
 <add key="LocationService.WebLocationService" value="http://localhost/SnCoreWeb/WebLocationService.asmx"/>
 <add key="DiscussionService.WebDiscussionService" value="http://localhost/SnCoreWeb/WebDiscussionService.asmx"/>
 <add key="SyndicationService.WebSyndicationService" value="http://localhost/SnCoreWeb/WebSyndicationService.asmx"/>
 <add key="StoryService.WebStoryService" value="http://localhost/SnCoreWeb/WebStoryService.asmx"/>
 <add key="BlogService.WebBlogService" value="http://localhost/SnCoreWeb/WebBlogService.asmx"/>
</appSettings>
