<?xml version="1.0"?>
<configuration>
 <configSections/>
 <appSettings>
  <add key="AccountService.WebAccountService" value="http://localhost/SnCoreWeb/WebAccountService.asmx"/>
  <add key="SystemService.WebSystemService" value="http://localhost/SnCoreWeb/WebSystemService.asmx"/>
  <add key="StatsService.WebStatsService" value="http://localhost/SnCoreWeb/WebStatsService.asmx"/>
  <add key="SocialService.WebSocialService" value="http://localhost/SnCoreWeb/WebSocialService.asmx"/>
  <add key="ObjectService.WebObjectService" value="http://localhost/SnCoreWeb/WebObjectService.asmx"/>
  <add key="PlaceService.WebPlaceService" value="http://localhost/SnCoreWeb/WebPlaceService.asmx"/>
  <add key="LocationService.WebLocationService" value="http://localhost/SnCoreWeb/WebLocationService.asmx"/>
  <add key="DiscussionService.WebDiscussionService" value="http://localhost/SnCoreWeb/WebDiscussionService.asmx"/>
  <add key="SyndicationService.WebSyndicationService" value="http://localhost/SnCoreWeb/WebSyndicationService.asmx"/>
  <add key="StoryService.WebStoryService" value="http://localhost/SnCoreWeb/WebStoryService.asmx"/>
 <add key="BlogService.WebBlogService" value="http://localhost/SnCoreWeb/WebBlogService.asmx"/>
 </appSettings>
 <connectionStrings/>
 <system.web>
  <compilation debug="true">
   <assemblies>
    <add assembly="System.Security, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
    <add assembly="System.Drawing, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
    <add assembly="System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
    <add assembly="System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
    <add assembly="System.Xml, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
    <add assembly="System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
    <add assembly="System.Web.Services, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
    <add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
    <add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
    <add assembly="System.EnterpriseServices, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
    <add assembly="System.Configuration.Install, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
    <add assembly="System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
    <add assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    <add assembly="System.Web.Extensions.Design, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    <add assembly="stdole, Version=7.0.3300.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
    <add assembly="VsWebSite.Interop, Version=8.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
    <add assembly="Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/></assemblies>
  </compilation>
  <siteMap enabled="true" defaultProvider="SiteMapDataProvider">
   <providers>
    <add name="SiteMapDataProvider" type="SnCore.SiteMap.SiteMapDataProvider, SnCore.SiteMap"/>
   </providers>
  </siteMap>
  <authentication mode="None"/>
  <pages enableSessionState="false" enableEventValidation="false" validateRequest="false">
   <controls/>
  </pages>
  <httpHandlers/>
  <httpModules>
   <remove name="WindowsAuthentication" />
   <remove name="PassportAuthentication" />
   <remove name="UrlAuthorization" />
   <remove name="FileAuthorization" />
  </httpModules>
 </system.web>
</configuration>
