<?xml version="1.0" encoding="utf-8" ?>
<configuration>
 <configSections>
  <section name="AdditionalProjectFiles" type="SnCore.Data.Mapping.AdditionalProjectFilesConfigurationSection, SnCore.Data.Mapping"/>
  <section name="ClobProperties" type="SnCore.Data.Mapping.ClobPropertiesConfigurationSection, SnCore.Data.Mapping"/>
  <section name="RemoveMappings" type="SnCore.Data.Mapping.RemoveMappingConfigurationSection, SnCore.Data.Mapping"/>
 </configSections>
 <appSettings>
  <add key="nhibernateNamespace" value="urn:nhibernate-mapping-2.2" />
 </appSettings>
 <AdditionalProjectFiles>
  <add filename="IDbObject.cs" />
  <add filename="IDbPictureObject.cs" />
 </AdditionalProjectFiles>
 <ClobProperties>
  <add property="Summary" />
  <add property="Xsl" />
  <add property="Body" />
  <add property="Description" />
  <add property="Message" />
  <add property="Details" />
 </ClobProperties>
</configuration>