<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SnCore.Web.Soap.Tests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SnCore.Web.Soap.Tests.Properties.Settings>
            <setting name="SnCore_Web_Soap_Tests_WebAccountService_WebAccountService"
                serializeAs="String">
                <value>http://localhost/SnCoreWeb/WebAccountService.asmx</value>
            </setting>
            <setting name="SnCore_Web_Soap_Tests_WebAccountService_WebAccountService1"
                serializeAs="String">
                <value>http://dblock-black.orangebitch.com/SnCoreWeb/WebAccountService.asmx</value>
            </setting>
            <setting name="SnCore_Web_Soap_Tests_WebAccountService_WebAccountService11"
                serializeAs="String">
                <value>http://dblock-black.orangebitch.com/SnCoreWeb/WebAccountService.asmx</value>
            </setting>
            <setting name="SnCore_Web_Soap_Tests_WebSystemService_WebSystemService"
                serializeAs="String">
                <value>http://localhost/SnCoreWeb/WebSystemService.asmx</value>
            </setting>
            <setting name="SnCore_Web_Soap_Tests_WebStatsService_WebStatsService"
                serializeAs="String">
                <value>http://localhost/SnCoreWeb/WebStatsService.asmx</value>
            </setting>
            <setting name="SnCore_Web_Soap_Tests_WebBugService_WebBugService"
                serializeAs="String">
                <value>http://localhost/SnCoreWeb/WebBugService.asmx</value>
            </setting>
            <setting name="SnCore_Web_Soap_Tests_WebLicenseService_WebLicenseService"
                serializeAs="String">
                <value>http://localhost/SnCoreWeb/WebLicenseService.asmx</value>
            </setting>
            <setting name="SnCore_Web_Soap_Tests_WebContentService_WebContentService"
                serializeAs="String">
                <value>http://localhost/SnCoreWeb/WebContentService.asmx</value>
            </setting>
            <setting name="SnCore_Web_Soap_Tests_WebLocationService_WebLocationService"
                serializeAs="String">
                <value>http://localhost/SnCoreWeb/WebLocationService.asmx</value>
            </setting>
            <setting name="SnCore_Web_Soap_Tests_WebMadLibService_WebMadLibService"
                serializeAs="String">
                <value>http://localhost/SnCoreWeb/WebMadLibService.asmx</value>
            </setting>
            <setting name="SnCore_Web_Soap_Tests_WebStoryService_WebStoryService"
                serializeAs="String">
                <value>http://localhost/SnCoreWeb/WebStoryService.asmx</value>
            </setting>
            <setting name="SnCore_Web_Soap_Tests_WebTagWordService_WebTagWordService"
                serializeAs="String">
                <value>http://localhost/SnCoreWeb/WebTagWordService.asmx</value>
            </setting>
            <setting name="SnCore_Web_Soap_Tests_WebSyndicationService_WebSyndicationService"
                serializeAs="String">
                <value>http://localhost/SnCoreWeb/WebSyndicationService.asmx</value>
            </setting>
            <setting name="SnCore_Web_Soap_Tests_WebSocialService_WebSocialService"
                serializeAs="String">
                <value>http://localhost/SnCoreWeb/WebSocialService.asmx</value>
            </setting>
            <setting name="SnCore_Web_Soap_Tests_WebMarketingService_WebMarketingService"
                serializeAs="String">
                <value>http://localhost/SnCoreWeb/WebMarketingService.asmx</value>
            </setting>
            <setting name="SnCore_Web_Soap_Tests_WebBlogService_WebBlogService"
                serializeAs="String">
                <value>http://localhost/SnCoreWeb/WebBlogService.asmx</value>
            </setting>
            <setting name="SnCore_Web_Soap_Tests_WebEventService_WebEventService"
                serializeAs="String">
                <value>http://localhost/SnCoreWeb/WebEventService.asmx</value>
            </setting>
            <setting name="SnCore_Web_Soap_Tests_WebPlaceService_WebPlaceService"
                serializeAs="String">
                <value>http://localhost/SnCoreWeb/WebPlaceService.asmx</value>
            </setting>
            <setting name="SnCore_Web_Soap_Tests_WebDiscussionService_WebDiscussionService"
                serializeAs="String">
                <value>http://localhost/SnCoreWeb/WebDiscussionService.asmx</value>
            </setting>
            <setting name="SnCore_Web_Soap_Tests_WebObjectService_WebObjectService"
                serializeAs="String">
                <value>http://localhost/SnCoreWeb/WebObjectService.asmx</value>
            </setting>
            <setting name="SnCore_Web_Soap_Tests_WebGroupService_WebGroupService"
                serializeAs="String">
                <value>http://localhost/SnCoreWeb/WebGroupService.asmx</value>
            </setting>
            <setting name="SnCore_Web_Soap_Tests_ScriptServices_ScriptServices"
                serializeAs="String">
                <value>http://localhost/SnCoreWeb/ScriptServices.asmx</value>
            </setting>
        </SnCore.Web.Soap.Tests.Properties.Settings>
    </applicationSettings>
</configuration>