<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SnCore.Web.Soap.Tests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SnCore.Web.Soap.Tests.Properties.Settings>
            <setting name="SnCore_Web_Soap_Tests_WebBugService_WebBugService"
                serializeAs="String">
                <value>http://dblock-black.orangebitch.com/SnCoreWeb/WebBugService.asmx</value>
            </setting>
            <setting name="SnCore_Web_Soap_Tests_WebAccountService_WebAccountService"
                serializeAs="String">
                <value>http://dblock-black.orangebitch.com/SnCoreWeb/WebAccountService.asmx</value>
            </setting>
            <setting name="SnCore_Web_Soap_Tests_WebAuthService_WebAuthService"
                serializeAs="String">
                <value>http://dblock-black.orangebitch.com/SnCoreWeb/WebAuthService.asmx</value>
            </setting>
            <setting name="SnCore_Web_Soap_Tests_WebSystemService_WebSystemService"
                serializeAs="String">
                <value>http://dblock-black.orangebitch.com/SnCoreWeb/WebSystemService.asmx</value>
            </setting>
        </SnCore.Web.Soap.Tests.Properties.Settings>
    </applicationSettings>
</configuration>