<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="facebook" type="Facebook.Web.Configuration.FacebookSection, FacebookNET.Web" allowDefinition="MachineToApplication"/>
	</configSections>
	<system.web>
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Drawing.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Web.Extensions.Design, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="VsWebSite.Interop, Version=8.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="stdole, Version=7.0.3300.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/></assemblies>
		</compilation>
		<httpHandlers>
			<add path="FacebookProxy.axd" verb="POST" type="Facebook.Web.FacebookProxy, FacebookNET.Web"/>
		</httpHandlers>
		<pages>
			<controls>
				<add tagPrefix="fb" assembly="FacebookNET.Web" namespace="Facebook.Web"/>
				<add tagPrefix="fb" assembly="FacebookNET.Web" namespace="Facebook.Web.IFrame"/>
			</controls>
		</pages>
	</system.web>
	<system.net>
		<settings>
			<httpWebRequest useUnsafeHeaderParsing="true"/>
		</settings>
	</system.net>
	<facebook>
		<application name="Facebook.NET App" apiKey="9b3d15fa3a11eb650a9da27b653f0f06" secret="f3b9252dcd2e7f81f68598566320da77"/>
	</facebook>
	<system.webServer>
		<handlers>
			<add name="FacebookProxy.axd_POST" path="FacebookProxy.axd" verb="POST" type="Facebook.Web.FacebookProxy, FacebookNET.Web" preCondition="integratedMode,runtimeVersionv2.0"/>
		</handlers>
		<validation validateIntegratedModeConfiguration="false"/>
	</system.webServer>
	<appSettings>
		<add key="WebSyndicationService.WebSyndicationService" value="http://localhost/SnCoreWeb/WebSyndicationService.asmx"/>
	</appSettings></configuration>
