<?xml version="1.0"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
	<configSections>
		<section name="nhibernate" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0,Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
		<section name="microsoft.web.services3" type="Microsoft.Web.Services3.Configuration.WebServicesConfiguration, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
		<sectionGroup name="microsoft.web" type="Microsoft.Web.Configuration.MicrosoftWebSectionGroup">
			<section name="converters" type="Microsoft.Web.Configuration.ConvertersSection"/>
		</sectionGroup>
	</configSections>
	<nhibernate>
		<add key="hibernate.connection.provider" value="NHibernate.Connection.DriverConnectionProvider"/>
		<add key="hibernate.dialect" value="NHibernate.Dialect.MsSql2000Dialect"/>
		<add key="hibernate.connection.driver_class" value="NHibernate.Driver.SqlClientDriver"/>
		<add key="hibernate.connection.connection_string" value="Server=localhost;initial catalog=SnCore;Integrated Security=SSPI"/>
		<add key="hibernate.default_schema" value="SnCore.dbo"/>
		<add key="hibernate.connection.isolation" value="ReadCommitted"/>
	</nhibernate>
	<appSettings>
		<add key="Ads.Visible" value="false"/>
		<add key="Counter.Visible" value="false"/>
		<add key="SystemServices.Enabled" value="false"/>
	</appSettings>
	<connectionStrings/>
	<system.web>
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Security, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Drawing, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
				<add assembly="Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Xml, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Web.Services, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.EnterpriseServices, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="nunit.framework, Version=2.2.8.0, Culture=neutral, PublicKeyToken=96D09A1EB7F44A77"/></assemblies>
		</compilation>
		<authentication mode="None"/>
		<webServices>
			<protocols>
				<remove name="HttpPost"/>
				<remove name="HttpGet"/>
			</protocols>
			<soapExtensionImporterTypes>
				<add type="Microsoft.Web.Services3.Description.WseExtensionImporter, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
			</soapExtensionImporterTypes>
			<soapServerProtocolFactory type="Microsoft.Web.Services3.WseProtocolFactory, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
		</webServices>
		<pages enableSessionState="false" enableEventValidation="false" validateRequest="false">
			<controls>
				<add namespace="Microsoft.Web.UI" assembly="Microsoft.Web.Atlas" tagPrefix="atlas"/>
				<add namespace="Microsoft.Web.UI.Controls" assembly="Microsoft.Web.Atlas" tagPrefix="atlas"/>
			</controls>
		</pages>
		<httpHandlers>
			<remove verb="*" path="*.asmx"/>
			<add verb="*" path="*.asmx" type="Microsoft.Web.Services.ScriptHandlerFactory" validate="false"/>
			<add verb="*" path="atlasbatchcall.axd" type="Microsoft.Web.Services.MultiRequestHandler" validate="false"/>
			<add verb="*" path="atlasglob.axd" type="Microsoft.Web.Globalization.GlobalizationHandler" validate="false"/>
			<add verb="*" path="*.asbx" type="Microsoft.Web.Services.ScriptHandlerFactory" validate="false"/>
		</httpHandlers>
		<httpModules>
			<add name="ScriptModule" type="Microsoft.Web.Services.ScriptModule"/>
			<add name="WebResourceCompression" type="Microsoft.Web.Services.WebResourceCompressionModule"/>
			<add name="UnhandledExceptionModule" type="WebMonitor.UnhandledExceptionModule, UnhandledExceptionModule"/>
		</httpModules>
	</system.web>
	<microsoft.web.services3>
		<messaging>
			<mtom clientMode="On"/>
			<maxMessageLength value="-1"/>
		</messaging>
	</microsoft.web.services3>
	<microsoft.web>
		<converters>
			<add type="Microsoft.Web.Script.Serialization.Converters.DataSetConverter"/>
			<add type="Microsoft.Web.Script.Serialization.Converters.DataRowConverter"/>
			<add type="Microsoft.Web.Script.Serialization.Converters.DataTableConverter"/>
		</converters>
	</microsoft.web>
</configuration>
